.weekview {
  --header-row-height: 50px;
  --cell-row-height: 30px;
  --line-color: #ddd;
  --text-color: #888;
  --date-color: #555;
  --event-color: #4db227;

  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: auto 1fr;
  position: relative;
  padding: 1%;

  color: var(--text-color);
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.header {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-start: 2;
}

.dayTitle {
  grid-row: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  &Date {
    display: block;
    font-size: 2em;
    line-height: 1;
    color: var(--date-color);
  }
  &Name {
    border-left: 1px solid var(--line-color);
    margin-top: 5px;
    padding: 4px 0 6px;
    line-height: 1;
  }
}

.column {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: var(--cell-row-height);
}

.hours {
  margin-bottom: calc(0px - var(--cell-row-height) + 5px);
}

.hourTitle {
  padding: 0 10px 0 5px;
  text-align: right;
  line-height: 0;
  position: relative;

  &:after {
    content: "";
    color: var(--line-color);
    position: absolute;
    right: -1px;
    top: 0px;
    display: block;
    border-top: 1px solid var(--line-color);
    width: 7px;
  }
}

.days {
  border-top: 1px solid var(--line-color);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  grid-column: 2 / -1;
}

.day {
  border-left: 1px solid var(--line-color);
}

.event {
  background-color: var(--event-color);
  border-radius: 4px;
  padding: 5px;
  margin: 0 5% 0 0;
  color: #fff;

  &StartIsClipped {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &EndIsClipped {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
